@using UniversityManagementSystemWebApp.Models.ViewModel
@model UniversityManagementSystemWebApp.Models.AllocateClassRoom

@{
    Layout = Layout;
    List<SelectListItem> departments = ViewBag.Departments;
    List<ViewClassSheduleViewModel> shedules = ViewBag.ShowDetails;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewClassShedule</title>
</head>
<body>
<div>
    @using (Html.BeginForm("ViewClassShedule", "AllocateClassRoom", FormMethod.Post, new {id = "AllocateClassRoomForm", @class = ""}))
    {
        <table>
            <tr>
                <td>

                    @Html.LabelFor(x => x.DeptId)
                </td>
                <td>

                    @Html.DropDownListFor(x => x.DeptId, new SelectList(departments, "Value", "Text"))
                    @Html.ValidationMessageFor(x => x.DeptId)

                </td>
            </tr>
            
        </table>
            
            <!--Table for showing details-->
            <div class="container">             
                <table class="table">
                    <thead id="Tablehead">
                   
                    </thead>
                    <tbody id="ClassSheduleDetails">

                    </tbody>
                </table>
            </div>
        
    }
</div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script>

            $(document).ready(function () {



                //cascading dropdownlist
                $("#DeptId").change(function () {
                    var deptId = $("#DeptId").val();
                 
                   var json = { DeptId: deptId };
                    $.ajax({
                        type: "POST",
                        url : '@Url.Action("GetViewClassSheduleByDeptId", "AllocateClassRoom")',
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(json),
                        success: function (data) {
                            $("#ClassSheduleDetails").empty();
                            $("#Tablehead").empty();
                            $("#Tablehead").append('<tr> <th>CourseCode</th> <th>CourseName</th> <th>Schedule</th></tr>');
                            $.each(data, function (key, value) {
                               
                                $("#ClassSheduleDetails").append('<tr> <td>' + value.CourseCode + '</td> <td>' + value.CourseName + '</td> <td>' + $.each(value.Scheduleinfo, function(index, innerValue) {                                 
                                    innerValue;
                                   
                                }) + '</td></tr>');
                          
                            });
                        }

                    });

                });
            });
    </script>

</body>
</html>
